<html>
    <head>
        <title>Mi librería</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>Mi librería</p>
            <nav>
                <ul>
                    <li>
                        <a href="/libros/crear">Crear libros</a>
                    </li>
                    <li>
                        <a href="/libros">Ver libros</a>
                    </li>
                </ul>
            </nav>
        </header>