<%- include('header') -%>
    <h1>Listado de Libros</h1>
    <ul>
        <% for (let i = 0; i < libros.length; i++) { %>
            <li>
                <a href="/libros/<%=libros[i].id%>">
                    <%=libros[i].titulo%>
                </a>
                
            </li>
        <% } %>
    </ul>
<%- include('footer') -%>
